/* IMPORT  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  margin: 0px;
  padding: 0px;
}
:root{

  --main-text-color: #777;
  --secondary-text-color:#165DF5;
  --primary-white-color : #fff;
}

/* GENERAL  */
body {
  font-family: 'Poppins', sans-serif;
}
p, li {
  color: #414245;
}
h1 {
  font-size: 64px;
}
.text-blue {
  color: var(--secondary-text-color);
}
.text-opacity{
  color:var(--main-text-color);

}
.call-to-action {
  background-color: var(--secondary-text-color);
  border: none;
  width: 145px;
  height: 46px;
  border-radius: 50px;
  color: var(--primary-white-color);
}

/* NAV  */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 40px;
}

nav .wrapper__language {
  display: flex;
  align-items: center;
}

nav .wrapper__language p {
  margin-right: 20px;
  text-transform: uppercase;
}


/*header*/
header{
  text-align: center;
  margin-top: 50px;
  padding: 0px 160px;
  display: flex;
  justify-content: center;
}

.wrapper--content {
  width: 732px;
}

p {
  font-size: 16px;
}

@media screen and (max-width: 769px) {

  nav ul {
    display: none;
  }
  header {
    padding: 0px 30px;
  }
  
  header h1 {
    font-size: 48px;
  }
  
}

@media screen and (min-width: 1224px) {
  nav ul li{
    color: red;
  }
  
}